<!doctype html>
<html lang="zh-cmn-Hans">

<head itemscope itemtype>
  <meta charset=utf-8>
  <meta name=viewport content="width=device-width,initial-scale=1">
  <link rel=stylesheet href="https://c1312.netlify.app/typo.css">
  <link rel=stylesheet href={{"/assets/lume.css" |> url}}>
  <title>{{ title }}</title>
</head>

<body>
  <header>
    <nav>
      <a href={{"/" |> url}}><b>My Notes</b></a>
      <a href={{"/tags" |> url}}>Tags</a>
    </nav>
    <h1>{{ title }}</h1>
  </header>
  <main class="typo">
    {{ content }}
  </main>
  <footer>
    <p><small>Contact info: blueskyprisoner</small></p>
  </footer>
  <link rel=stylesheet href=https://cp-bkt1.oss-cn-hangzhou.aliyuncs.com/cdn/prism.css>
  <link rel=stylesheet href=https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism-twilight.min.css>
  <script src=https://cp-bkt1.oss-cn-hangzhou.aliyuncs.com/cdn/prism.js></script>
</body>

</html>